//
//  Config.xcconfig
//  PES
//
//  Created by Michal Zelinka on 21/03/2021.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

BUNDLE_IDENTIFIER = net.misacek.pes
BUNDLE_IDENTIFIER_WATCH = $(BUNDLE_IDENTIFIER).watchapp
BUNDLE_IDENTIFIER_WATCH_EXT = $(BUNDLE_IDENTIFIER_WATCH).extension
BUNDLE_VERSION = 1.0
BUNDLE_BUILD = 15
